* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, sans-serif;
  /*background-color: #f5f5f5; */
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* Reset and base styles */

/* Navigation Bar */
.navbar {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 3px;
  isolation: isolate;

  position: fixed;
  width: 430px;
  height: 46px;
  left: 50%;
  top: 24px;
  transform: translateX(-50%);

  background: rgba(255, 255, 255, 0.6);
  border: 1px solid #e5e5e5;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 67px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 999;
}

.nav-item {
  margin: 0 15px;
  font-size: 16px;
  font-weight: 500;
  color: #757575;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.nav-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 160px;
}

.memoji {
  height: 72px;
  width: 72px;
  background-color: #ffdbac;
  border-radius: 50px;
  margin-bottom: 24px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  line-height: auto;
  color: #1e1e1e;
  margin-bottom: 7px;
}

.title-desc {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #767676;
  line-height: 32px;
}

.frame {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 48px;
}
.card {
  height: 507px;
  width: 982px;
  background-color: #f5f5f5;
  border-radius: 32px;
  border: 1px solid #e9e9e9;
  /* box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); */
  margin-bottom: 24px;
  padding: 32px 40px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card h1 {
  padding-right: 56px;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 10px;
}

.card p {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 10px;
  color: #757575;
}

.joint-cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 24px;
}
.card-half{
  width: 479px;
}

.arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 56px;
  height: 56px;
  right: 16px;
  top: 16px;

  fill: #e6e6e6;
  border: 2px solid #d9d9d9;
  border-radius: 50%;
  cursor: pointer;
}
.arrow {
  width: 19px;
  height: 19px;
  flex: none;
  order: 2;
  flex-grow: 0;
  z-index: 2;
}

.codeguy{
  width: 95px;
  height: auto;
  margin-bottom: 10px;

}

.frame h5{
  font-weight: 400;
  line-height: 32px;
  font-size: 14px;
  color: #757575;
  text-transform: uppercase;
}


.about-frame{
  max-width: 982px;
height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.half-cards{
  max-width: 982px;
  height: 248px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-bottom: 24px;
}

.about-card-half{
  height: 248px;
  width: 311px;
}

.full-cards{
  max-width: 982px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.about-card-full{
  height: 168px;
  width: 479px;
}


.img-card1{
  background: url(https://scontent.fevn6-6.fna.fbcdn.net/v/t51.75761-15/490551244_18501992911038534_4759057439567377321_n.jpg?stp=dst-jpg_s600x600_tt6&_nc_cat=102&ccb=1-7&_nc_sid=127cfc&_nc_ohc=kdJI91kzK9MQ7kNvwHklJm0&_nc_oc=AdmdtpThv4thH8efN-UTCD34uEPSlHvG1Vwbz6WoisjGtf-R-wLgQnBTjz2QDLBmMg0&_nc_zt=23&_nc_ht=scontent.fevn6-6.fna&_nc_gid=wgAD4i5N4eW7JTX0USl2hg&oh=00_AfF7dAwepZaGgwi3USXPcfz0tzDEUM60UUfMjKo8AeTWvw&oe=681D853E);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.img-card2{
  background: url(https://scontent.fevn6-6.fna.fbcdn.net/v/t1.6435-9/118148389_2262330593913261_3241953760319474232_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=833d8c&_nc_ohc=umUlbARRxPcQ7kNvwEK-BgU&_nc_oc=AdnbL8q7js5oegopdXflaOp0RFSdXN_0Ku4Ha5Blw4cEIEu90-HpDBqh-7jNL1VlmH8&_nc_zt=23&_nc_ht=scontent.fevn6-6.fna&_nc_gid=UT649o2kQka_NgfRRumnqA&oh=00_AfEPfa8f6kFyUEoOAMU0zBVHWMbcAI0lsumwEI5vlV0eKw&oe=683F0398);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-card3{
  background: url(https://scontent.fevn6-5.fna.fbcdn.net/v/t39.30808-6/492501680_3966694026810234_7412262120591987467_n.jpg?stp=dst-jpg_s960x960_tt6&_nc_cat=105&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=ArLGwPc1_gQQ7kNvwFacJJm&_nc_oc=AdmhH5B-iqmQ2KVNrHWfZ7yv37AANvWYw-dRXJ-xNztj3KAGARKCaaUJPVK_C2ub2T4&_nc_zt=23&_nc_ht=scontent.fevn6-5.fna&_nc_gid=X1n3i1h-sMdYh87CurGbMg&oh=00_AfFrHFwfrpxHyeq3aOpadaxlEM0Bwgf7CH5JJxVK8N4DpA&oe=681D87DE);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.connect-card{
  width: 479px;
  height: 397px;
}

.email-container{


display: flex;
justify-content: center;
align-items: center;

}

.email-img{
  width: 353px;
height: 353px;
filter: drop-shadow(0px 20.1875px 20.1875px rgba(0, 0, 0, 0.25));
}

.whatsapp-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
margin-top: 38px;
}

.wa-img{
  width: 184px;
  height: 184px;
  flex: none;
  order: 1;
  flex-grow: 0;
  filter: drop-shadow(0px 20.1875px 20.1875px rgba(0, 0, 0, 0.25));
}

.linkedin-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 23px;
}

.linkedin-img{
  width: 194px;
  height: 194px;
  flex: none;
  order: 1;
  flex-grow: 0;
  filter: drop-shadow(0px 20.1875px 20.1875px rgba(0, 0, 0, 0.25));
}
